
@{
    ViewData["Title"] = "Success";
    Layout = "_CommonLayout";
}
<section class="page-shell">
	<div class="page-wrap">

		<!-- Title / Intro -->
		<div class="page-head">
			<h2 class="page-title">Success</h2>
			<p class="page-subtitle">
				<span class="fw-bold">School Information</span><br />
				Validation Media submitted successfully. Thank you
			</p>
		</div>
			
		<!-- This container is what we replace on AJAX validation failure -->
		@* <div id="validationMediaContainer">
			<partial name="_ValidationMediaForm" model="Model" />
		</div> *@
	</div>
</section>
<!-- SiteCatalyst code version: H.20.3.
		Copyright 1997-2009 Omniture, Inc. More info available at
		http://www.omniture.com -->
	     <script language="JavaScript" type="text/javascript" src="~/js/s_code.js"></script>
		<script language="JavaScript" type="text/javascript">
		/* You may give each page an identifying name, server, and channel on
		the next lines. */
				
		s.pageName=""
		s.server=""
		s.channel="GRC"
		s.pageType=""
		s.prop1=""
		s.prop2=""
		s.prop3=""
		s.prop4=""
		s.prop5=""
		/* Conversion Variables */
		s.campaign=""
		s.state=""
		s.zip=""
		s.events=""
		s.products=""
		s.purchaseID=""
		s.eVar1=""
		s.eVar2=""
		s.eVar3=""
		s.eVar4=""
		s.eVar5=""
		/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
		var s_code=s.t();if(s_code)document.write(s_code)//--></script>
		<!--/DO NOT REMOVE/-->
		<!-- End SiteCatalyst code version: H.20.3. -->	
		<!-- Google Analytics -->
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try 
			{
				var pageTracker = _gat._getTracker("UA-6408068-1");
				pageTracker._trackPageview();
			}
			catch(err) 
			{
			}
		</script>
		<!-- InstanceEnd -->
	
